---
http_interactions:
- request:
    method: get
    uri: https://restcountries.eu/rest/v1/name/Seattle,%20WA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not Found"}'
  recorded_at: Mon, 21 Mar 2016 19:30:38 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?mapped_term=Missing%20Country:%20Seattle,%20WA&source=TradeEvent::Ustda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"421e345c529d81591b7cfc198b24a260"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":2005,"name":"United States"}]'
  recorded_at: Mon, 21 Mar 2016 19:30:38 GMT
recorded_with: VCR 3.0.1
