<p class="api-key">Your API Key is: <strong><%= current_user.api_key %></strong> <span>[<%= link_to('change', regenerate_api_key_path, confirm: 'Are you sure you want to change your API Key?') %>]</span></p>
