---
http_interactions:
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=322211&source=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 Dec 2015 19:18:52 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.fbo.gov/spg/USDA/FS/261/AG-0261-S-13-0079/listing.html&title=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c6ad8cfb094e0955873c4a9716f6d6541ea1658a"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://1.usa.gov/1Z1MVDN",
        "aggregate_link": "http://bit.ly/1JeX8lE", "long_url": "https://www.fbo.gov/spg/USDA/FS/261/AG-0261-S-13-0079/listing.html",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 10 Dec 2015 19:18:53 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.fbo.gov/spg/DLA/J3/DSCR-BSM/SPE4A5-13-R-0992/listing.html&title=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"03eb514b52576741bab2e2946e615468d566b2c2"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://1.usa.gov/1Z1MSI8",
        "aggregate_link": "http://bit.ly/1YkMQfc", "long_url": "https://www.fbo.gov/spg/DLA/J3/DSCR-BSM/SPE4A5-13-R-0992/listing.html",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 10 Dec 2015 19:18:53 GMT
recorded_with: VCR 2.9.3
