---
http_interactions:
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=331318&source=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 Dec 2015 19:13:45 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.fbo.gov/spg/DLA/J3/DSCC-BSM/SPE7M815Q0425/listing.html&title=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6c1ef24df048ec71592904a9c729d66a4ed21b97"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1OVuFHt",
        "aggregate_link": "http://bit.ly/1JeXyZb", "long_url": "https://www.fbo.gov/spg/DLA/J3/DSCC-BSM/SPE7M815Q0425/listing.html",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Thu, 10 Dec 2015 19:13:45 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.fbo.gov/notices/5eaf5409ca1351bb517077dfa0637e2e&title=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7e75d4022ec8e9bfcfe29360e172a73768afe0b8"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://1.usa.gov/1Z1Mrh9",
        "aggregate_link": "http://bit.ly/1YkNUzu", "long_url": "https://www.fbo.gov/notices/5eaf5409ca1351bb517077dfa0637e2e",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 10 Dec 2015 19:13:46 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.fbo.gov/notices/4a5d49fddc31fdc4c5433fa49311fdda&title=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0c93844154560d020a86bbb781985e3f0b11f69a"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://1.usa.gov/1Z1Mrhb",
        "aggregate_link": "http://bit.ly/1YkNVn8", "long_url": "https://www.fbo.gov/notices/4a5d49fddc31fdc4c5433fa49311fdda",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 10 Dec 2015 19:13:46 GMT
recorded_with: VCR 2.9.3
