---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.fbo.gov/spg/HHS/CDCP/PGOA/2013-N-15012/listing.html&title=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"599994b81c8dc682b15f3ea33b4567e3e0dfd135"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1Z1MEku",
        "aggregate_link": "http://bit.ly/1Z1MEkv", "long_url": "https://www.fbo.gov/spg/HHS/CDCP/PGOA/2013-N-15012/listing.html",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Tue, 15 Dec 2015 16:15:31 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=541990:%20All%20Other%20Professional,%20Scientific,%20and%20Technical%20Services&source=TradeLead::Fbopen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 15 Dec 2015 16:15:32 GMT
recorded_with: VCR 2.9.3
