---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.pmddtc.state.gov/?id=ddtc_kb_article_page%26sys_id=c22d1833dbb8d300d0a370131f9619f0&title=ScreeningList::Dtc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b29f4742b0ab2ccfa4fd78152b1503bf2333f314"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/2KpFtRn",
        "aggregate_link": "http://bit.ly/2slhFHr", "long_url": "https://www.pmddtc.state.gov/?id=ddtc_kb_article_page&sys_id=c22d1833dbb8d300d0a370131f9619f0",
        "new_link": 1, "user_hash": "2KpFtRn"}}, "status_txt": "OK"}'
  recorded_at: Thu, 28 Jun 2018 00:57:08 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://www.pmddtc.state.gov/compliance/debar_admin.html&title=ScreeningList::Dtc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"82d08d2532cdf81313d4a6da59565b4023506733"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://bit.ly/1Qi3IgB",
        "aggregate_link": "http://bit.ly/1rR3Ews", "long_url": "http://www.pmddtc.state.gov/compliance/debar_admin.html",
        "new_link": 0, "user_hash": "1Qi3IgB"}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Thu, 28 Jun 2018 00:57:09 GMT
recorded_with: VCR 4.0.0