---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.treasury.gov/resource-center/sanctions/Programs/Pages/13599_list.aspx&title=ScreeningList::Eo13599
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"10bb6c016944bc4332ec56e9ffd0c2e0ee92656d"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://bit.ly/2tVePH5",
        "aggregate_link": "http://bit.ly/2tUW4nl", "long_url": "https://www.treasury.gov/resource-center/sanctions/Programs/Pages/13599_list.aspx",
        "new_link": 0, "user_hash": "2tVePH5"}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Thu, 10 Aug 2017 20:47:44 GMT
recorded_with: VCR 3.0.3
