---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/fse_list.aspx&title=ScreeningList::Fse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5b579506d255f201e1b301b15c5ff6b991dfec74"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1Qi3V3z",
        "aggregate_link": "http://bit.ly/1iBY6xD", "long_url": "https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/fse_list.aspx",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 16 Sep 2015 18:49:06 GMT
recorded_with: VCR 2.9.3
