---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.treasury.gov/resource-center/sanctions/programs/pages/iran.aspx%23isa&title=ScreeningList::Isa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4015ef883ee2706d22a9b120a631b9b08d595061"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1Qi4aLY",
        "aggregate_link": "http://bit.ly/1iwvfAC", "long_url": "https://www.treasury.gov/resource-center/sanctions/programs/pages/iran.aspx#isa",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 16 Sep 2015 18:49:16 GMT
recorded_with: VCR 2.9.3
