---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://www.state.gov/t/isn/c15231.htm&title=ScreeningList::Isn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aa48a4746e001c45d63b89fe2a29684870d0f3a4"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1NuVFxV",
        "aggregate_link": "http://bit.ly/1NuVFxW", "long_url": "http://www.state.gov/t/isn/c15231.htm",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 16 Sep 2015 18:49:18 GMT
recorded_with: VCR 2.9.3
