---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.treasury.gov/resource-center/sanctions/programs/pages/iran.aspx%23part561&title=ScreeningList::Part561
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"599ae67a18e4b29a6af6919ecafd0b5bfaf47166"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1Qi4kmy",
        "aggregate_link": "http://bit.ly/1iwvfAP", "long_url": "https://www.treasury.gov/resource-center/sanctions/programs/pages/iran.aspx#part561",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 16 Sep 2015 18:49:24 GMT
recorded_with: VCR 2.9.3
