---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/default.aspx&title=ScreeningList::Sdn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"044d5b8925a098e35b02fec8e2017b5810bdecd7"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1Qi4rhP",
        "aggregate_link": "http://bit.ly/efgDN5", "long_url": "https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/default.aspx",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 16 Sep 2015 18:49:05 GMT
recorded_with: VCR 2.9.3
