---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/ssi_list.aspx&title=ScreeningList::Ssi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fa930e11ce61b21c07922a66614d59c31c9ef82b"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1Qi4xWS",
        "aggregate_link": "http://bit.ly/1qE26Wu", "long_url": "https://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/ssi_list.aspx",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 16 Sep 2015 18:49:27 GMT
recorded_with: VCR 2.9.3
