---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://www.bis.doc.gov/enforcement/unverifiedlist/unverified_parties.html&title=ScreeningList::Uvl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5e14ec0d8253a9ef3bd5445ff956ba5b2b7e8314"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1iwwTSJ",
        "aggregate_link": "http://bit.ly/TEXyfP", "long_url": "http://www.bis.doc.gov/enforcement/unverifiedlist/unverified_parties.html",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 16 Sep 2015 18:49:13 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://www.bis.doc.gov/index.php/policy-guidance/lists-of-parties-of-concern/unverified-list&title=ScreeningList::Uvl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4bfd4639049bb16879ff87cf49918bf40dd1e167"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1Qi4R7Z",
        "aggregate_link": "http://bit.ly/1Qi4R80", "long_url": "http://www.bis.doc.gov/index.php/policy-guidance/lists-of-parties-of-concern/unverified-list",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 16 Sep 2015 18:49:15 GMT
recorded_with: VCR 2.9.3
