!!!

%html
  %head
    %title
      Market Research Library

  %body
    %h2 The Market Research Library API was retired on October 1, 2018.

    %p
      We recommend reviewing our
      = link_to 'Market Intelligence API','https://developer.trade.gov/market-intelligence.html'
      for access to ITA’s current market intelligence reports and information.

    %p
      Please review the list of all
      = link_to 'available APIs', 'https://developer.trade.gov/api-list.html'
      from ITA to learn how to work with them.

    %p
      Email
      = mail_to 'DataServices@trade.gov'
      if you would like to contact us directly.
