---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://buyandsell.gc.ca/cds/public/2014/07/10/42715c1c4bfa789f0ed931da141d6342/53800-14-2015473_rfp_english-_pdf_2.pdf&title=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4995303fefce937e73c10f8e39aba96b23c41ecc"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1L4aclr",
        "aggregate_link": "http://bit.ly/1L4acls", "long_url": "https://buyandsell.gc.ca/cds/public/2014/07/10/42715c1c4bfa789f0ed931da141d6342/53800-14-2015473_rfp_english-_pdf_2.pdf",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Tue, 22 Sep 2015 20:41:52 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://buyandsell.gc.ca/cds/public/2014/07/10/de34025d2f7a9c038501b5c984227ade/53800-14-2015473_rfp_french_pdf_2.pdf&title=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"54f72c0e346ded10a00c765111d72b97eda9374b"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1Kyo80o",
        "aggregate_link": "http://bit.ly/1Kyo80p", "long_url": "https://buyandsell.gc.ca/cds/public/2014/07/10/de34025d2f7a9c038501b5c984227ade/53800-14-2015473_rfp_french_pdf_2.pdf",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Tue, 22 Sep 2015 20:41:53 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://buyandsell.gc.ca/cds/public/2014/03/19/14760bd772ba06599e649b7251b7e2d8/ABES.PROD.PW__PR.B707.E64882.EBSU000.PDF&title=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d1071f77e081db6d73b1efa6e5a9dd0c5ee004d5"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1L4abOp",
        "aggregate_link": "http://bit.ly/1L4abOq", "long_url": "https://buyandsell.gc.ca/cds/public/2014/03/19/14760bd772ba06599e649b7251b7e2d8/ABES.PROD.PW__PR.B707.E64882.EBSU000.PDF",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Tue, 22 Sep 2015 20:41:54 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://buyandsell.gc.ca/cds/public/2014/03/06/66677c7498364f92f1772a7294494909/ABES.PROD.PW_MTR.B110.E12642.EBSU000.PDF&title=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"42c06d3f9aff8a740cea4f434369256783c6cc55"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1L4adG2",
        "aggregate_link": "http://bit.ly/1L4adG3", "long_url": "https://buyandsell.gc.ca/cds/public/2014/03/06/66677c7498364f92f1772a7294494909/ABES.PROD.PW_MTR.B110.E12642.EBSU000.PDF",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Tue, 22 Sep 2015 20:42:16 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://buyandsell.gc.ca/cds/public/2014/01/16/30eac90f50519a362b7a56df91d6f818/lettre_du_scc_ingenieur_ang.pdf&title=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9b7ea700ee32a4f0346c0858ab805cf6fe45edff"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1L4agl3",
        "aggregate_link": "http://bit.ly/1L4agl4", "long_url": "https://buyandsell.gc.ca/cds/public/2014/01/16/30eac90f50519a362b7a56df91d6f818/lettre_du_scc_ingenieur_ang.pdf",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Tue, 22 Sep 2015 20:42:21 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://buyandsell.gc.ca/cds/public/2014/01/16/f164d5e4c10d97ad03483ae3653efea7/lettre_du_scc_ingenieur_fr.pdf&title=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"06b684666de1eaf0d7354c83250fccf10a0c5737"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1L4agl5",
        "aggregate_link": "http://bit.ly/1L4agl6", "long_url": "https://buyandsell.gc.ca/cds/public/2014/01/16/f164d5e4c10d97ad03483ae3653efea7/lettre_du_scc_ingenieur_fr.pdf",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Tue, 22 Sep 2015 20:42:22 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://buyandsell.gc.ca/cds/public/2014/01/16/27c88866206d794559781a280a7cc547/avis_dinteret_ingenieurs_conseils_ang.pdf&title=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2031e4cd4590c2eb93714ead4a940a02492c0c0a"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1L4aetm",
        "aggregate_link": "http://bit.ly/1L4aetn", "long_url": "https://buyandsell.gc.ca/cds/public/2014/01/16/27c88866206d794559781a280a7cc547/avis_dinteret_ingenieurs_conseils_ang.pdf",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Tue, 22 Sep 2015 20:42:24 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=https://buyandsell.gc.ca/cds/public/2014/01/16/a0e600997c3ee724ac7c944110db490a/avis_dinteret_ingenieur_conseil_fr.pdf&title=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2468a2da85269dc1cb65a3d1ead8c171e689af4d"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1L4agl7",
        "aggregate_link": "http://bit.ly/1L4agl8", "long_url": "https://buyandsell.gc.ca/cds/public/2014/01/16/a0e600997c3ee724ac7c944110db490a/avis_dinteret_ingenieur_conseil_fr.pdf",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Tue, 22 Sep 2015 20:42:25 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=G009E:%20Medical/Dental%20Clinic%20Services&source=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 07 Dec 2015 19:45:02 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=N8305:%20Textile%20Fabrics&source=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 07 Dec 2015 19:45:02 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=N8415:%20Clothing,%20Special%20Purpose&source=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 07 Dec 2015 19:45:02 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=N8905Z:%20Meat,%20Poultry%20and%20Fish&source=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 07 Dec 2015 19:45:02 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=C119F:%20Engineering%20Services%20-%20Buildings&source=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 07 Dec 2015 19:45:02 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=U099D:%20Language%20Training%20Services&source=TradeLead::Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 07 Dec 2015 19:45:02 GMT
recorded_with: VCR 2.9.3
