---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://mcc.dgmarket.com/tenders/np-notice.do?noticeId=12529030&title=TradeLead::Mca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ac06902ff66096e319fbdd8feaa01c21d0b28e29"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1Z1OIZu",
        "aggregate_link": "http://bit.ly/1MtB6mS", "long_url": "http://mcc.dgmarket.com/tenders/np-notice.do?noticeId=12529030",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 10 Dec 2015 19:38:32 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://mcc.dgmarket.com/tenders/np-notice.do?noticeId=12281937&title=TradeLead::Mca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"469630027598ac79028b116bd16eba4979dff3e3"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://bit.ly/1Z1OIZA",
        "aggregate_link": "http://bit.ly/1MtB8Lj", "long_url": "http://mcc.dgmarket.com/tenders/np-notice.do?noticeId=12281937",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 10 Dec 2015 19:38:33 GMT
recorded_with: VCR 2.9.3
