---
http_interactions:
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Missing%20Country:%20Johannesburg:%203MW%20In-Pipe%20Hydropower%20Scheme&source=TradeLead::Ustda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d72c50fd62e0d3c31631294b4185d4a9"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":2213,"name":"South Africa"}]'
  recorded_at: Wed, 20 Jan 2016 21:39:51 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://www.ustda.gov//business-opportunities/trade-leads/johannesburg-3mw-pipe-hydropower-scheme&title=TradeLead::Ustda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ce62c4dc9a5246ede6adb06a839448fe2ce64194"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1NV3e0e",
        "aggregate_link": "http://bit.ly/1NV3e0f", "long_url": "http://www.ustda.gov//business-opportunities/trade-leads/johannesburg-3mw-pipe-hydropower-scheme",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 20 Jan 2016 21:39:51 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Missing%20Country:%20Costa%20Rica:%20Public%20Tender%20for%20Consulting%20Services:%20Master%20Planning%20for%20the%20New%20Metropolitan%20International%20Airport&source=TradeLead::Ustda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"fd1d45edf5c3d06c54a8cfb19cdc454e"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":2488,"name":"Costa Rica"}]'
  recorded_at: Wed, 20 Jan 2016 21:39:51 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://www.ustda.gov//business-opportunities/trade-leads/costa-rica-public-tender-consulting-services-master-planning-new&title=TradeLead::Ustda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"eea94ac015a85be1310b0f17c675164356515efc"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1NV3exp",
        "aggregate_link": "http://bit.ly/1NV3exq", "long_url": "http://www.ustda.gov//business-opportunities/trade-leads/costa-rica-public-tender-consulting-services-master-planning-new",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 20 Jan 2016 21:39:51 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Missing%20Country:%20Rwanda:%20Rwaza%20I%20%26%20II%20Hydropower%20Projects&source=TradeLead::Ustda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e09449d8ba80c8e0e369657d6fb60c40"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":2215,"name":"Rwanda"}]'
  recorded_at: Wed, 20 Jan 2016 21:39:51 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://www.ustda.gov//business-opportunities/trade-leads/rwanda-rwaza-i-ii-hydropower-projects&title=TradeLead::Ustda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4e9914e8000b505d6c79a14a0391c0e9db71ff2d"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1NV3exr",
        "aggregate_link": "http://bit.ly/1NV3exs", "long_url": "http://www.ustda.gov//business-opportunities/trade-leads/rwanda-rwaza-i-ii-hydropower-projects",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Wed, 20 Jan 2016 21:39:51 GMT
recorded_with: VCR 2.9.3
