---
http_interactions:
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Services&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:42 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://files.export.gov/x_9678533.pdf&title=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"26613fd3506f8db5a1845f6ca1aece5bc2c679cf"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1G82dSq",
        "aggregate_link": "http://bit.ly/1G82dSr", "long_url": "http://files.export.gov/x_9678533.pdf",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Mon, 26 Oct 2015 21:28:42 GMT
[...]
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Aerospace%20%26%20Defense&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:43 GMT
[...]
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Agribusiness&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":55,"name":"Chemicals"},{"id":66,"name":"Agribusiness"}]'
  recorded_at: Mon, 26 Oct 2015 21:28:43 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Apparel%20%26%20Textiles&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:43 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Automotive%20%26%20Ground%20Transportation&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":62,"name":"Travel and Tourism"},{"id":63,"name":"Automotive"},{"id":69,"name":"Consumer
        Goods"}]'
  recorded_at: Mon, 26 Oct 2015 21:28:43 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Chemicals,%20Petrochemicals%20%26%20Composites&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:43 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Construction,%20Building%20%26%20Heavy%20Equipment&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:43 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Consumer%20Goods%20%26%20Home%20Furnishings&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:43 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Energy%20%26%20Mining&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:43 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Environmental%20Technologies&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:43 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Food%20Processing%20%26%20Packaging&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:44 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Health%20Technologies&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:44 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Industrial%20Equipment%20%26%20Supplies&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:44 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Information%20%26%20Communication&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:44 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Marine%20Industries&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:44 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Paper,%20Printing,%20Graphic%20Arts&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:44 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Security%20%26%20Safety&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:44 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/terms.json?log_failed=false&mapped_term=Used%20%26%20Reconditioned%20Equipment&source=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 26 Oct 2015 21:28:44 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://files.export.gov/x_3092299.pdf&title=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3628f1f25c70572622290515f9163a9882bbacb0"'
    body:
      encoding: UTF-8
      string: '{"status_code": 304, "data": {"link_save": {"link": "http://1.usa.gov/1LPHJKk",
        "aggregate_link": "http://bit.ly/1LPHJKl", "long_url": "http://files.export.gov/x_3092299.pdf",
        "new_link": 0}}, "status_txt": "LINK_ALREADY_EXISTS"}'
  recorded_at: Mon, 26 Oct 2015 21:28:44 GMT
recorded_with: VCR 2.9.3
