---
http_interactions:
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Services
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:12 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://files.export.gov/x_9678533.pdf&title=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f231cda315b19ecb671a54d8563e583478f1da62"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://1.usa.gov/1G82dSq",
        "aggregate_link": "http://bit.ly/1G82dSr", "long_url": "http://files.export.gov/x_9678533.pdf",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 15 Oct 2015 18:28:12 GMT
[...]
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Aerospace%20%26%20Defense
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
[...]
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Agribusiness
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"afd76f4ff4faa58e1d89c879bde781f2"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":55,"name":"Chemicals"},{"id":66,"name":"Agribusiness"}]'
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Apparel%20%26%20Textiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Automotive%20%26%20Ground%20Transportation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a433fb42ba6b1bcf760393d856ace0cb"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":62,"name":"Travel and Tourism"},{"id":63,"name":"Automotive"},{"id":69,"name":"Consumer
        Goods"}]'
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Chemicals,%20Petrochemicals%20%26%20Composites
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Construction,%20Building%20%26%20Heavy%20Equipment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Consumer%20Goods%20%26%20Home%20Furnishings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Energy%20%26%20Mining
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Environmental%20Technologies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Food%20Processing%20%26%20Packaging
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Health%20Technologies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Industrial%20Equipment%20%26%20Supplies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Information%20%26%20Communication
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:13 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Marine%20Industries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:14 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Paper,%20Printing,%20Graphic%20Arts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:14 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Security%20%26%20Safety
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:14 GMT
- request:
    method: get
    uri: http://im.govwizely.com/api/industries.json?log_failed=false&source=MarketResearch&topic=Used%20%26%20Reconditioned%20Equipment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Oct 2015 18:28:14 GMT
[...]
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/user/link_save?access_token=<BITLY_API_TOKEN>&longUrl=http://files.export.gov/x_3092299.pdf&title=MarketResearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"345e7a4edf8eee5e86a5bbf0724f07660ceef7ae"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"link_save": {"link": "http://1.usa.gov/1LPHJKk",
        "aggregate_link": "http://bit.ly/1LPHJKl", "long_url": "http://files.export.gov/x_3092299.pdf",
        "new_link": 1}}, "status_txt": "OK"}'
  recorded_at: Thu, 15 Oct 2015 18:28:14 GMT
recorded_with: VCR 2.9.3
