#body-content {
  min-height: 500px;

  nav {
    text-align: right;
  }

  p {
    &.api-key {
      font-size: x-large;
      margin: 4rem 0 0;
      text-align: center;
      span {
        font-size: small;
      }
    }
  }

  .form-wrapper {
    margin: 0 auto;

    form {
      width: 18rem;
      margin: 2rem auto 0;
      .field {
        clear: both;
        min-height: 2rem;

        label {
          float: left;
          width: 5rem;
          line-height: 1.6em;
          font-weight: 100;
        }
        input {
          float: left;
          width: 12rem;
          line-height: 1em;
        }
        &.top-of-group {
          margin-top: 1.5rem;
        }
      }
      .actions {
        clear: both;
        margin: 0.5rem 0 2rem 5rem;
      }
      p.note {
        clear: both;
        font-size: small;
        font-style: italic;
        margin: 0;
      }

      &#new_registration, &#edit_registration, &#edit_password {
        width: 23rem;
        .field {
          label {
            width: 10rem;
          }
        }
        .actions {
          margin-left: 10rem;
        }
      }
    }
  }

  p.alert {
    margin: 1rem 0;
    padding: 0.5rem;
    background: #fee;
    color: red;
  }
  p.notice {
    margin: 1rem 0;
    padding: 0.5rem;
    background: #efe;
    color: green;
  }

  div#error_explanation {
    margin: 1rem 0;
    padding: 0.5rem;
    background: #fee;
    color: red;
    h2 {
      display: none;
    }
    ul {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #body-content {
    .form-wrapper {
      form {
        width: 100%;
        &#new_registration, &#edit_registration, &#edit_password {
          width: 100%;
        }
        .field {
          input {
            width: 8rem;
          }
        }
      }
    }
  }
}

textarea#data_source_dictionary {
  width: 100%;
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#333;
  font-size:14px;
}

.data_source .field input
{
  width: 50%;
}
